@import "var";

.logo {
  float: left;
  color: #fff;
  font-size: 20px;
}

.trigger-wrap {
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.app-sider {
  overflow: hidden;
  //background-color: $theme-color;
}

.app-header {

}

